<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188842923783-4t1pdjovja2i47ctj7q29124nr74omtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188842923783-4t1pdjovja2i47ctj7q29124nr74omtp</string>
	<key>API_KEY</key>
	<string>AIzaSyD-BCANaGwu20d2JARHVw_jZq4FY8vzPVU</string>
	<key>GCM_SENDER_ID</key>
	<string>188842923783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.fer.kos.barbara.FiveApp</string>
	<key>PROJECT_ID</key>
	<string>fiveapp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>fiveapp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188842923783:ios:a92f5b8da00395512417a2</string>
</dict>
</plist>